/***** MAIN CSS USED ACROSS MOST PAGES *****/

div {
  display: block;
}

body {
  font-family: "Europa", sans-serif;
	font-size: 0.85rem;
  margin: 0;
}

h1 {
  font-size: 1.6rem;
  margin-bottom: 0;
}

h2 {
  font-size: 1.4rem;
  margin-bottom: 0;
  padding-top: 0.4rem;
}

h3 {
  font-size: 1.2rem;
  margin-bottom: 0;
  padding-top: 0.4rem;
}

h4 {
  font-size: 0.7rem;
  margin-bottom: 0.3rem;
  padding-top: 0.4rem;
  text-transform: uppercase;
  letter-spacing: 0.075rem;
}

h5 {
  font-size: 0.85rem;
}

p, ol, ul {
  max-width: 65rem;
}

ul {
  list-style: circle;
}

p {
  line-height: 1.1rem;
}

a {
  color: #3A3C4E;
  transition: 0.5s ease-out;
  text-decoration: none;
}

a:active, a:hover, a:focus {
  color: darkgray;
}

code {
  display: block;
  background-color: #EEE;
  padding: 0.5rem 0.8rem;
  margin-top: 0.5rem;
  line-height: 1.1rem;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

input {
  padding: 0.6rem 2rem;
  border: 1px solid #3A3C4E;
  -webkit-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}

input[type="text"]:hover {
  border: 1px solid darkgray;
}

input[type="text"]:focus {
  background-color: ghostwhite;
}

.page_title {
  font-size: 2rem;
}

.main_heading {
  border-top: 1px #000 solid;
  border-bottom: 1px #000 solid;

  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 3rem;
}

.sub_heading {
  padding-top: 1.2rem;
  margin-bottom: 1rem;
  text-align: left;
}

.content_container #individual_product, .content_container #checkout_cart, .content_container #payment_order_form {
  width: 100%;
}

/***** PAGE NAVIGATION *****/

.current_link {
  color: #FFB523;
}

.main_nav {
  width: 100%;
  overflow: hidden;
}

.desktop_nav nav {
  justify-content: space-between;
}

.main_nav_item {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  transition: color 0.5s ease-out;
  align-items: center;

  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  float: left;
  letter-spacing: 0.075rem;
  font-size: 0.7rem;
  font-family: "Muli", sans-serif;
  font-weight: bold;
}

.main_nav_item:active, .main_nav_item:hover, .main_nav_item:focus {
  color: #FFB523;
}

.icon_nav a {
  font-size: 0.5rem;
  padding: 0.8rem;
  float: right;
}

.logo-wordmark {
  width: 100%;
  height: auto;
  max-width: 15rem;
  margin: 0;
  padding-top: 0.8rem;
}

.element #global_nav { /* main navigation in the style guide */
  margin-top: 1.5rem;
  position: relative;
}

#global_nav {
  overflow: hidden; /* relative; */
  background-color: #FFF;
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #EEE;
}

.desktop_nav {
  display: none;
}

.desktop_nav .main_nav {
  align-items: center;
}

.mobile_nav {
  overflow: hidden;
  position: relative;
}

.mobile-links {
  display: flex;
  width: 92%;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.mobile-links .logo-wordmark {
  width: 80%;
  height: auto;
  max-width: 12rem;
  margin-left: 1.5rem;
  margin-top: -0.4rem;
}

.mobile_nav #dropdown-links { /* hide links inside nav menu except logo/home) */
  display: none;
  text-align: center;
  width: 100%;
}

.mobile_nav #dropdown-links a {
  background-color: #F9F7F2;
  color: #000;
  padding: 0.8rem;
  display: block;

  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.075rem;
  font-size: 0.7rem;
  font-family: "Muli", sans-serif;
  font-weight: bold;
}

.mobile_nav a.icon { /* style the hamburger menu */
  padding: 0.8rem;
  background: #A9AD9D;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}

.mobile_nav a.icon:hover, .mobile_nav a.icon:active, .mobile_nav a.icon:focus {
  background-color: #000;
  color: #FFF;
}

/***** INTERACTIVE ELEMENTS *****/

.intext-link {
  color: #FFB523;
}

.primary-btn, .primary-btn-white  {
  padding: 0.6rem 2rem;
  margin: 0.25rem 0.25rem;
}

.primary-btn:hover {
  color: #FFF;
  background-color: #3A3C4E;
  border: 1px solid #3A3C4E;
  transition: 0.5s ease-out;
}

.primary-btn-white { /* full white button */
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.075rem;
  font-size: 0.6rem;
  font-family: "Muli", sans-serif;
  font-weight: bold;

  background-color: #FFF;
  color: darkgrey;
}

.primary-btn-white:hover {
  color: #FFF;
  background-color: #3A3C4E;
  border: 1px solid #3A3C4E;
  transition: 0.5s ease-out;
}

.secondary-btn {
  display: inline-block;
  text-decoration: none;
  border: 1px solid #3A3C4E;
  padding: 0.6rem 2rem;
  margin: 0.25rem 0.25rem;

  text-transform: uppercase;
  letter-spacing: 0.075rem;
  font-size: 0.6rem;
  font-family: "Muli", sans-serif;
  font-weight: bold;
  color: #3A3C4E;
}

.secondary-btn:hover {
  border: 1px solid darkgray;
  transition: 0.5s ease-out;
}

.radio-color-swatch input[type="radio"] {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.radio-color-swatch label, .save_card label, .pay_method label {
  margin-left: 0.1rem;
}

input[type="radio"]:after {
  width: 0.9rem;
  height: 0.9rem;
  top: 0;
  left: -1px;
  position: relative;
  background-color: #FFF;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 1px solid #3A3C4E;
}

input[type="radio"]:checked:after {
  width: 0.9rem;
  height: 0.9rem;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #000;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 1px solid #3A3C4E;
}

input[type="radio"]:hover:after {
  border: 1px solid darkgray;
}

.sg-linked-img {
  margin-bottom: 2rem;
}

.element .box { /* Hover over Image Link in Style Guide */
  width: 30%;
  padding: 0;
}

.image-link-container {
  position: relative;
  width: 20rem;
}

.img-link {
  margin: 0;
  height: auto;
  opacity: 1;
  display: block;
  transition: 0.5s ease;
}

.img-hover-box {
  opacity: 1;
  transition: 0.5s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.image-link-container:hover .img-link {
  opacity: 0.5;
}

.image-link-container:hover .img-hover-box {
  opacity: 1;
}

.img-hover-text {
  background-color: #FFF;
  color: #000;
  font-size: 1rem;
  font-weight: bold;
  padding: 1.2rem 2.5rem;
}

.europa_specimen {
  margin-top: 2rem;
  margin-bottom: 0;
  font-size: 1.6rem;
}

.muli_specimen {
  margin-top: 2rem;
  margin-bottom: 0;
  font-family: "Muli", sans-serif;
  font-size: 1.2rem;
}

.main-page-title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #000;
  margin-top: 100px;
}

/* this a container that holds the page body content */
.content_container {
  width: 95%;
  overflow: hidden;
  /*margin: 0 auto;*/
  flex-grow: 1;
  z-index: 1;

  margin: 1.5rem;
  padding: 1.5rem;
}

/***** COLOUR PALETTE *****/

.palette_container .color_title {
  text-align: center;
}

#swatch1, #swatch2, #swatch3, #swatch4, #swatch5, #swatch6, #swatch7, #swatch8 {
  flex-grow: 1;
  flex-basis: 12rem;
  padding: 0;
  margin: 0.5rem;
  width: 25%;
  height: 60px;
}

#swatch1 {
  background-color: #FFB523;
}

#swatch2 {
  background-color: #E6EDC2;
}

#swatch3 {
  background-color: #F5F5F2;
}

#swatch4 {
  background-color: #A9AD9D;
}

#swatch5 {
  background-color: #F9F7F2;
  border: 1px solid darkgray;
}

#swatch6 {
  background-color: #FAFAF9;
  border: 1px solid darkgray;
}

#swatch7 {
  background-color: #3A3C4E;
  color: #FFF;
}

#swatch8 {
  background-color: #000000;
  color: #FFF;
}

#brand-imagery .block {
  margin: 0.5rem;
  width: 30%;
  display: inline-block;
}

/***** PRODUCT PAGES - MULTIPLE *****/

.content_container #multiple_products {
  width: 90%;
}

.block {
  flex-grow: 1;
  flex-basis: 12rem;
  margin: 1rem;
  display: inline-block;
}

.image-link {
  position: relative;
  display: inline-block;
  width: 100%;
}

.image-link .hover-img {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #F5F5F2;
}

.image-link:hover .hover-img {
  display: inline;
  transition: 0.5s ease-out;
}

/***** LOOKBOOKS *****/

#lookbook_overview {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #F5F5F2;
}

.mySlides {
  display: none;
}

.slideshow-container {
  max-width: 100%;
  position: relative;
  margin-top: 2vw;
  margin-left: 35vw;
  margin-right: 35vw;
}

.slideshow-container img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: #FFB523;
  font-weight: bold;
  font-size: 18px;
  transition: 0.5s ease;
  border-radius: 0 3px 3px 0;
}

.prev {
  right: 35vw;
}

.next {
  left: 35vw;
  border-radius: 2px 0 0 2px;
}

.prev:hover, .next:hover {
  background-color: rgba(255,255,255,0.8);
}

.lookbook_time {
  text-align: center;
  padding: 2vw;
}

.lookbook_name {
  padding: 8px 12px;
  position: absolute;
  width: 100%;
  text-align: center;
}

.slide-number-text {
  color: #3A3C4E;
  font-size: 0.8rem;
  margin-top: 2rem;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 10px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.dot-item {
  text-align: center;
  margin-top: 0;
  margin-bottom: 3rem;
}

.active, .dot:hover {
  background-color: #3A3C4E;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

/***** SHOP - MULTIPLE PRODUCTS *****/

#shop {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 50px; /* top margin to avoid content overlay */
}

.product_quick_info .product_name {
  margin-top: 0.2rem;
}

.product_quick_info .price {
  font-size: 0.85rem;
}

#side_product_filters {
  width: 20%;
}

.toggle-product-filter summary::-webkit-details-marker {
  display: none;
}

.toggle-product-filter summary:hover {
  border: 1px solid darkgray;
}

.toggle-product-filter summary:focus {
  background-color: ghostwhite;
}

.filter-group-title {
  font-size: 1rem;
  margin-bottom: 0.8rem;
}

.filter-tag {
  margin-top: 0.5rem;
  margin-bottom: 0;
  font-size: 0.7rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.075rem;
  display: flex;
}

#dropdown_product_filters {
  margin-top: 70px;
}

#dropdown_product_filters h5 {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.dropdown-filter-nav-content {
  list-style-type: none;
  margin: 0.6rem 2em 1em 2.3em;
}

.dropdown-nav-target {
  margin: 0.8rem 1em;
  padding: 0.6rem 1rem;
  border: 1px solid #3A3C4E;
}

.material-icons { /* arrow drop down */
  display: inline !important;
  float: right;
  text-align: right;
}

.content_container #featured_products {
  width: 85%;
  margin: 5rem 10%;
  justify-content: center;
}

#featured_products .block {
  width: 21%;
  z-index: 1;
}

.featured-title {
  margin: 1rem;
  text-align: left;
}

/***** SHOP - DETAILED PRODUCT *****/

#individual_product {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px; /* top margin to avoid content overlay */
}

#individual_product .block {
  width: 40%;
}

.product_image {
  background-color: #F5F5F2; /* #E5E5E1; */
  padding: 1rem;
  width: 100%;
}

.product_name {
  margin-top: 0;
  margin-bottom: -0.8rem;
  text-align: left;
}

.product_clr {
  font-size: 0.9rem;
}

.product_details {
  margin-top: 0;
  text-align: left;
}

.product_desc {
  margin-top: 1.5rem;
  width: 90%;
}

.price {
  font-size: 1.1rem;
}

.product_options {
  flex-wrap: nowrap;
}

.product_select {
  width: 8rem;
  margin-right: 0.8rem;
}

.primary-btn, .atc-btn {
  display: inline-block;
  text-decoration: none;
  border: 1px solid black;

  text-transform: uppercase;
  letter-spacing: 0.075rem;
  font-size: 0.6rem;
  font-family: "Muli", sans-serif;
  font-weight: bold;
  background-color: black;
  color: #FFF;
}

.atc-btn {
  padding: 0.75rem 32%;
  margin-top: 1.75rem;
}

.primary-btn:hover, .atc-btn:hover {
  color: #FFF;
  background-color: #3A3C4E;
  border: 1px solid #3A3C4E;
  transition: 0.5s ease-out;
}

#ratings_reviews {
  border-top: 1px solid #EEE;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

#ratings_reviews .block {
  width: 70%;
}

#write_review {
  width: 30%;
  margin: 2rem;
}

#other_reviews {
  width: 50%;
  margin: 2rem;
}

.review-title {
  font-size: 1rem;
  margin-top: 0.4rem;
}

.review-date {
  color: #3A3C4E;
}

.review-text {
  margin-bottom: 0;
}

.review-name {
  margin-top: 0.4rem;
}

/***** PROCESS - PAYMENT FORM *****/

#payment_order_form {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 50px; /* top margin to avoid content overlay */
}

#payment_order_form .block {
  width: 85%; /* 80% */
  background-color: #FAFAF9;
  padding: 2.5rem;
  margin: 2rem;
}

#order_summary {
  width: 30%; /* 45% */
  height: 17rem;
}

#order-summary-title, .card-info-title {
  margin-top: 1rem;
}

.order-line {
  width: 100%;
  align-items: flex-end;
}

.summary-left {
  float: left;
  text-align: left;
  margin-bottom: 0;
}

.summary-right {
  float: right;
  text-align: right;
  margin-bottom: 0;
}

.summary-title, .summary-price, .order-text {
  font-size: 0.8rem;
}

.edit-link {
  text-transform: uppercase;
  letter-spacing: 0.075rem;
  font-size: 0.7rem;
  font-weight: bold;
  color: #FFB523;
  margin-bottom: -0.8rem;
}

.shipping-method {
  padding-bottom: 0.8rem;
}

#order-total-title {
  float: left;
  text-align: left;
  padding-top: 0;
  text-transform: capitalize;
  letter-spacing: 0.05rem;
  font-size: 0.85rem;
}

#order-total-price {
  float: right;
  text-align: right;
  padding-top: 0;
  font-size: 0.85rem;
}

.seperator-line {
  padding-top: 0;
  margin-top: 1rem;
  border-top: 1px solid darkgray;
}

.shipping_city_prov {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
}

.shipping_city {
  width: 49%;
}

.shipping_province label, .shipping_province .form_select select {
  margin-left: 4px;
}

.shipping_province .form_select select {
  width: 150%;
}

.card-info-title {
  margin-bottom: 1rem;
}

#payment_form {
  width: 60%;
}

.method1, .method2 {
  margin-right: 0.6rem;
}

.text-label {
  font-size: 0.5rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.075rem;
  margin-top: 2px;
  margin-bottom: 0.8rem;
}

.input-box {
  width: 100%;
  margin: 2px 0 0 0;
  box-sizing: border-box;
}

.form_select {
  position: relative;
  display: inline;
}

.form_select select {
  width: 49%;
}

select {
  outline: 0;
  font-size: 0.7rem;
  font-family: "Muli", sans-serif;
  padding: 0.6rem 0.6rem 0.6rem 0.6rem;
  flex-wrap: nowrap;
  box-sizing: border-box;
  margin: 0;

  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  border: 1px solid #3A3C4E;
  background-image: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9JzMwMHB4JyB3aWR0aD0nMzAwcHgnICBmaWxsPSIjMDAwMDAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgODQxLjkgNTk1LjMiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDg0MS45IDU5NS4zOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZD0iTTUyOC45LDI5Ny4yIj48L3BhdGg+PHBhdGggZD0iTTIxNS41LDE4OS41Yy0yLDAtMy44LDEuMi00LjYsMy4xYy0wLjgsMS45LTAuMyw0LDEuMSw1LjRsMjA1LjYsMjA1LjZjMSwxLDIuMywxLjUsMy41LDEuNXMyLjYtMC41LDMuNS0xLjVsMjA1LjUtMjA1LjUgIGMxLjQtMS4zLDEuOS0zLjUsMS4xLTUuNWMtMC44LTEuOS0yLjYtMy4xLTQuNi0zLjFMMjE1LjUsMTg5LjV6Ij48L3BhdGg+PC9zdmc+");
  background-repeat: no-repeat, repeat;
  background-position: right 0.6rem top 50%, 0 0;
  background-size: .75rem auto, 100%;
}

.product_select:hover, .form_select select:hover {
  border: 1px solid darkgray;
}

/***** PROCESS - CHECKOUT CART *****/

#checkout_cart {
  margin-top: 50px; /* top margin to avoid content overlay */
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

#view_cart tr {
  font-size: 0.7rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

#total-title, #total-price {
  padding: 0.8rem;
  font-size: 0.7rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

#view_cart td {
  border-bottom: 1px solid darkgray;
}

#product-table-title {
  text-align: left;
}

#price-table-title, #total-title, #total-price {
  text-align: center;
}

.checkout_quantity, .checkout_price {
  text-align: center;
  width: 15%;
}

.checkout_product {
  flex-grow: 1;
  width: 100%;
  margin: 1.5rem 1rem 1.5rem 0;
}

.checkout_prod_img {
  width: 40%;
  height: 40%;
  background-color: #F5F5F2;
  padding: 0.7rem;
}

.checkout_product_info {
  padding: 15% 0;
  margin-left: 1rem;
  width: 40%;
}

.checkout_product_name {
  font-weight: bold;
  margin: 0;
}

.checkout_product_color {
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-size: 0.7rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

.checkout_size {
  margin: 0;
  font-size: 0.7rem;
}

.pay_form_btns {
  padding-top: 1.5rem;
  float: right;
}

/***** HOMEPAGE *****/

#homepage {
  z-index: 1;
  margin-top: 50px; /* top margin to avoid content overlay */
}

.hero-banner-img {
  background-image: url(http://www.sfu.ca/~jaquino/homepage-banner1.jpg);
  /* 100vw/vh = 100% of browser width and height */
  width: 100vw;
  height: 90vh;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: lightgray;
  background-blend-mode: multiply;
}

.hero-banner-img h1 {
  font-size: 2.25rem;
  margin: 1.5rem;
  color: white;
}

#brand_description {
  text-align: center;
  background-color: #E2DBCC;

  width: 100vw;
  padding: 8rem 25% 10rem 25%;
}

#brand_description h2 {
  font-size: 1.6rem;
}

#brand_description .secondary-btn {
  margin-top: 2rem;
}

/***** JOURNAL *****/

* {
  box-sizing: border-box;
}

.items-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 3vw;
}

.items-text h1 {
  position: absolute;
  top: 5vw;
  left:30vh;
  margin-top: 20rem;
  font-size: 13vw;
  color: #FFB523;
  text-transform: uppercase;
}

.items-text img {
  position: relative;
  width: 80%;
}

#journal_overview {
  background: #F5F5F2;
  padding-bottom: 50px;
}

#journal {
  position: relative;
  top: 50px;
  margin-bottom: 10vw;
}

.main_journal {
  display: grid;
  grid-gap: 6px;
	grid-template-columns:33% 33% 33%;
}

.box {
  padding: 40px;
  font-size: 150%;
}

.box:hover {
  margin-top: -1vw; /* -2vw; */
}

.image-link-container {
  width:auto;
}

.box-text h5 {
  margin: 10px 0 0 0;
  font-size: 1rem;
}

.article-date {
  margin-top: 0;
}

/***** JOURNAL ARTICLE *****/

#article {
  display: grid;
  grid-gap: 40px;
	grid-template-columns:4% 32% 32% 20%;
  margin-top: 80px
}

.article-image {
  margin-top: 5vw;
}

.article-image-item img {
  margin-top: 100px;
  width: 100%;
  height: 100%;
}

#square {
 width: 30vw;
height: 40vw;
background: #A9AD9D;
}

.ariticle-title p {
  margin-top: 100px;
  font-size: 1.2rem;
  line-height: 2vw;
}

.article-image img {
  margin-bottom: 3vw;
}

/***** FOOTER *****/

.page_footer {
  border-top: 1px solid #EEE;
  justify-content: center;
  text-align: center;
}

#main_footer {
  display: flex;
  flex-wrap: nowrap;
  width: 95%;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
}

#main_footer #footer-newsletter {
  width: 95%;
  text-align: left;
  margin-left: 3rem;
}

#main_footer #footer-nav {
  width: 100%;
  float: right;
  text-align: left;
}

#main_footer #footer-newsletter .block {
  width: 100%;
  margin: 0;
}

#main_footer #footer-nav .block {
  width: 30%;
  margin: 0;
  vertical-align: top;
}

.footer_items_form {
  vertical-align: middle;
}

#subscribe-news-input { /* text input box */
  width: 45%;
}

#subscribe-news-btn { /* submit button */
  width: 45%;
  text-align: center;
}

.newsletter-desc {
  font-size: 1rem;
  line-height: 1.3rem;
}

.footer_copyright .content_container {
  background-color: #F9F7F2;
  margin: 0;
  width: 100%;
  align-items: flex-end;
}

.footer-links a {
  text-transform: uppercase;
  letter-spacing: 0.075rem;
  font-size: 0.7rem;
  text-align: left;
  flex-direction: column;
}

.footer_copyright a {
  text-transform: uppercase;
  letter-spacing: 0.075rem;
  font-size: 0.7rem;
  text-align: left;
  align-items: center;
  padding: 0 1.5rem;
}

.copyright-text {
  float: left;
}

.copyright-links {
  float: right;
}

/***** ABOUT PAGE *****/

#about {
  display: grid;
  grid-gap: 40px;
	grid-template-columns: 30% 65%;
}

.about-header h2 {
  text-align: center;
}

.about-detail {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

video {
  margin-top: 2rem;
  width: 100%;
}

.about-detail table {
  width: 50% 50%;
  border-collapse: separate;
  border-spacing: 40px 5px;
}

.about-detail img {
  width:100%;
  margin-top: 2rem;
}

.about-detail p {
  margin-top: 2rem;
}

#about-img-item img {
  width:auto;
  height: auto;
}

#map {
  margin-top: 2rem;
}

iframe {
  width: 100%;
  height: 20rem;
  border: 0;
}

/***** VIEWPORTS *****/

@media (min-width: 55em) {
  .block {
    width: 21%;
  }
}

@media screen and (max-width: 1295px) {
  #main_footer #footer-newsletter {
    width: 80%;
  }

  #main_footer #footer-nav {
    width: 95%;
  }

  #main_footer #footer-newsletter .block {
    width: 80%;
  }

  #main_footer #footer-nav .block {
    width: 30%;
  }
}

@media screen and (max-width: 1190px) {
  .block {
    width: 28%;
  }
}

@media screen and (max-width: 1152px) {
  .shipping_province .form_select select {
    width: 125%;
  }
}

@media screen and (max-width: 1145px) {
  #featured_products .block {
    width: 45%;
  }

  .shipping_city_prov {
    display: block;
  }

  .shipping_province .form_select select, .shipping_city, .form_select select  {
    width: 100%;
  }

  .shipping_province label, .shipping_province .form_select select {
    margin-left: 0;
  }

  .form_select {
    display: block;
    margin-top: 6px;
  }
}

@media screen and (min-width: 992px) {
  .desktop_nav {
    display: block;
  }

  .mobile_nav {
    display: none;
  }
}

/* Tablet View */
@media screen and (max-width: 992px) {
  .content_container {
    margin: 0.3rem;
    width: 95%;
  }

  .main_nav_item {
    padding: 0.5rem;
    vertical-align: top;
  }

  #featured_products .block {
    width: 45%;
  }

  #individual_product .block {
    width: 45%;
  }

  #ratings_reviews {
    justify-content: center;
    margin: 0;
    width: 95%;
  }

  #ratings_reviews .block {
    width: 90%;
  }

  #write_review {
    width: 30%;
  }

  #other_reviews {
    width: 45%;
  }

  #payment_order_form .block {
    margin: 1.5rem;
  }

  #order_summary {
    width: 35%;
    margin-right: 2rem;
  }

  #payment_method {
    width: 65%;
  }

}

@media screen and (max-width: 910px) {
  #featured_products .block {
    width: 40%;
  }
  #payment_order_form {
    width: 100%;
  }

  #order_summary {
    width: 45%;
    margin-right: 0;
  }

  #payment_method {
    width: 55%;
  }
}

@media screen and (max-width: 900px) {
  .block {
    width: 40%;
  }

  .content_container #multiple_products {
    width: 100%;
  }

  #lookbook_overview .content_container {
    width: 100%;
  }

  #lookbook_overview .block {
    width: 44%;
  }
}

@media screen and (max-width: 785px) {
  #main_footer {
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }

  .footer-items-form {
    flex-direction: row;
  }

  #main_footer #footer-newsletter, #main_footer #footer-nav {
    width: 100%;
    margin-bottom: 1.5rem;
    margin-left: 0;
  }

  #main_footer #footer-newsletter .block {
    width: 90%;
  }

  #main_footer #footer-nav .block {
    width: 32%;
  }
}

@media screen and (max-width: 780px) {
  #individual_product .block {
    width: 90%;
  }

  .pay_form_btns .secondary-btn, .pay_form_btns .primary-btn {
    width: 100%;
    text-align: center;
  }

  .checkout_product_info {
    padding: 10% 0;
  }
}

@media screen and (max-width: 770px) {
  .element .box { /* Hover over Image Link in Style Guide */
    width: 70%;
  }

  .content_container {
    width: 95%;
  }

  .block {
    width: 40%;
  }

  .mobile_nav {
    display: block;
  }

  .price {
    font-size: 0.7rem;
  }

  #ratings_reviews {
    justify-content: center;
    margin: 0;
    width: 95%;
    flex-direction: column;
  }

  #ratings_reviews .block {
    width: 90%;
  }

  #write_review, #other_reviews {
    width: 90%;
  }

  #side_product_filters {
    padding-right: 2rem;
  }

  .content_container #payment_order_form {
    justify-content: center;
    margin: 0;
    width: 95%;
    flex-direction: column;
  }

  #order_summary, #payment_form {
    margin: 0;
    width: 100%;
  }

  .shipping_city_prov {
    display: block;
  }

  .shipping_province .form_select select, .shipping_city, .form_select select  {
    width: 100%;
  }

  .form_select {
    display: block;
    margin-top: 6px;
  }

  .shipping_province label, .shipping_province .form_select select {
    margin-left: 0;
  }
}

@media screen and (max-width: 768px) {
  #lookbook_overview .block {
    width: 44%;
  }
}

@media screen and (max-width: 670px) {
  #brand_description {
    padding: 8rem 5% 10rem 8%;
  }

  .footer_copyright {
    text-align: center;
  }

  .copyright-text, .copyright-links {
    float: none;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
  }

  .copyright-links a {
    padding: 0.8rem;
  }
}

@media screen and (max-width: 620px) {
  .checkout_product_info {
    padding: 5% 0;
  }
}

@media screen and (max-width: 611px) {
  #lookbook_overview .block {
    width: 43%;
  }
}

@media screen and (max-width: 600px) {
  #featured_products .block {
    width: 38%;
  }

  .featured-title {
    text-align: center;
  }

  .mobile-links {
    width: 90%;
  }
}

@media screen and (max-width: 590px) {
  .footer_copyright .content_container {
    text-align: center;
  }
}

@media screen and (max-width: 575px) {
  .block {
    width: 90%;
  }

  .content_container #featured_products {
    justify-content: center;
    margin: 0;
    width: 100%;
  }

  #featured_products .block {
    width: 45%;
    margin: 0.5rem;
  }

  #featured_products .product_name {
    font-size: 1.2rem;
  }

  .featured-title {
    text-align: center;
  }
}

@media screen and (max-width: 531px) {
  #lookbook_overview .block {
    width: 40%;
  }
}

@media screen and (max-width: 515px) {
  .checkout_product_info {
    padding: 2% 0;
  }

  .checkout_product_name {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 414px) {
  #side_product_filters {
    display: block;
  }

  #dropdown_product_filters {
    display: none;
  }
}

@media screen and (max-width: 414px) {
  #side_product_filters {
    display: none;
  }

  #dropdown_product_filters {
    display: block;
  }

  #featured_products .block {
    width: 44.5%;
    margin: 0.5rem;
  }

  #lookbook_overview .block {
    width: 90%;
  }

  #combined_elements .mobile-links {
    width: 80%;
  }

  #combined_elements .mobile-links .logo-wordmark {
    margin-left: 0.5rem;
    width: 75%;
  }

  .mobile-links .logo-wordmark {
    margin-left: 1rem;
  }

  #combined_elements .icon_nav a {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }

  #brand-imagery .block {
    width: 95%;
  }
}

/* Mobile View */
@media screen and (max-width: 375px) {
  .block {
    width: 100%;
  }

  #multiple_products .block {
    width: 90%;
  }

  .content_container {
    margin: 0;
    width: 100%;
  }

  .mobile-links {
    width: 86%;
  }

  #main_footer {
    flex-direction: column;
    width: 100%;
  }

  .footer-items-form {
    flex-direction: column;
  }

  #subscribe-news-input, #subscribe-news-btn {
    width: 100%;
    text-align: center;
    margin: 0;
  }

  #subscribe-news-btn {
    margin-top: 0.5rem;
  }

  #main_footer #footer-newsletter, #main_footer #footer-nav {
    width: 100%;
  }

  #main_footer #footer-newsletter .block, #main_footer #footer-nav .block {
    width: 100%;
  }

  .footer-social-media ul.icon_lists {
    text-align: left;
  }

  #featured_products .block {
    width: 44%;
    margin: 0.5rem;
  }

  .product_image {
    width: 100%;
    margin-bottom: 2rem;
  }

  .product_name {
    font-size: 1.5rem;
  }

  .price {
    font-size: 0.85rem;
  }

  .product_details {
    width: 100%;
    margin-top: -2.5rem;
  }

  .product_select {
    width: 8rem;
  }

  .atc-btn {
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
  }

  .checkout_prod_img {
    width: 45%;
    height: 45%;
    padding: 0.5rem;
    vertical-align: center;
  }

  .checkout_product_info {
    padding: 0;
    width: 100%;
  }

  .checkout_product_color {
    font-size: 0.6rem;
  }

  .checkout_quantity, .checkout_price {
    width: 1rem;
  }

  #payment_order_form .block {
    margin: 60px 0 0 0;
    width: 100%;
  }

  .main_nav_item {
    font-size: 0.6rem;
  }

  iframe {
    width: auto;
    height: auto;
  }

}

/* Extra @media setting for journal.html, journal_detail.html, and about.html */

@media screen and (max-width: 1199px) {
  /* responsive for journal */
  .items-text {
    margin-top: 2vw;
  }

  .items-text img {
    margin-top: 5vw;
  }

  #journal{
    margin-top: 5vw;
  }
}

@media screen and (max-width: 1024px) {
  /* responsive for journal */
  .items-text h1{
    left: 20vw;
  }

    .ariticle-title p {
    line-height: 3vw;
    }

    /* responsive for about */
    #about {
      margin-top: 0;
    }

  /* responsive for citations*/
  #citations_title h1 {
    padding-top: 5vw;
  }
}

@media screen and (max-width: 959px) {
  .items-text h1 {
    font-size: 15vw;
    left: 20vw;
  }

  .items-text img {
    left: 5%;
  }

/* responsive for journal article*/

  #article {
    display: grid;
  	grid-template-columns: 1% 30% 50%;
    margin-top: 10vw;
  }

  .article-image-items p {
   font-size: .5vw;
  }

  .article-image-items h1 {
    font-size:5vw;
  }

  .article-image-items h5 {
    font-size:1vw;
  }

  .ariticle-title {
    padding-right: 0px;
  }

  #author {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  /* responsive for journal */
  .items-text h1 {
    margin-top: 25vw;
  }

  .box {
    padding: 20px;
  }

  /* responsive for lookbooks */
  .slideshow-container {
    margin-left: 8rem;
    margin-right: 8rem;
  }

  .lookbook_time {
    margin-top: 1.5rem;
  }

  .prev {
    right: 60vw;
  }

  .next {
    left: 60vw;
  }
}

@media screen and (max-width: 414px) {
  /* responsive for about */
  #about {
    display: block;
    margin-top: 0;
  }

  .about-detail p {
    font-size: 12px;
  }

  #about-img-item img {
    width:300px;
    height: 150px;
  }

  .about-header h2 {
    text-align: center;
  }

  .about-header h4 {
    text-align: center;
  }

  .about-detail img {
    margin-top: 1vw;
  }

  ul.icon_lists {
    text-align: center;
  }

  /* responsive for journal */
  .items-text {
    background-size: 88%;
    margin-top: 2rem;
    text-align: center;
  }

  .items-text h1 {
    margin: 80px 0 0 0; /* journal title is in same spot as other page titles */
    color: #000;
    font-size: 1.6rem;
    text-shadow: none;
    text-transform: none;
    padding: 0 18vw;
  }

  .items-text img {
    display: none;
  }

  #journal {
    margin-top: 80px;
  }

  .main_journal {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  /* responsive for journal article*/

  #article {
     display: block;
     margin-top: 20vw;
     margin-left: 5vw;
     margin-right: 5vw;
   }

  #square {
    width: 100%;
    height: 10vh;
  }

  .article-image-items {
    margin-top: -20vw;
  }

  .article-image-items h1 {
    padding-left: 2vw;
    padding-right: 2vw;
  }

  .article-image-items h5 {
    display: none;
  }

  .article-image{
    margin-top: 15vw;
    position: relative;
    left: 25vw;
  }

  .article-image img {
    display: inline-block;
    width: 30vw;
    height: 25vw;
    margin-right: 4vw;
  }

  .ariticle-title p {
    margin-top: 10vw;
    font-size: 1.1rem;
    line-height: 6vw;
  }

   .ariticle-title {
    margin-bottom: 40vw;
   }

   #author {
     display: none;
   }

   /* responsive for citations */
   #citations_title h1 {
     padding-top: 10vw;
   }

   /* responsive for lookbooks */
   .lookbook_name {
     font-size: 1rem;
   }

   .lookbook_time {
     margin-top: 1.5rem;
   }

   .slideshow-container {
     margin-left: 3rem;
     margin-right: 3rem;
   }

   .prev {
     /* right: 18rem; */
     display: none;
   }

   .next {
     /* left: 18rem; */
     display: none;
   }

   .slide-number-text {
    font-size: 0.8rem;
  }

  .dot {
    height: 12px;
    width: 12px;
    margin: 20px 10px;
  }
}


@media screen and (max-width: 375px) {
  /* responsive for journal article*/
  #square {
    margin-top: 20vw;
  }

  iframe {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
    /* responsive for journal article*/
  #square {
    margin-top: 40vw;
  }

  .items-text h1 {
    margin: 100px 0 0 0;
  }

  /* responsive for citations */
  #citations_title h1 {
    padding-top: 10vw;
  }

  .ariticle-title p {
    font-size: 1rem;
    line-height: 7vw;
  }
}
